 
#main-animation-line{
     
    transform:scaleX(0);
    animation : 1s line-animations ease-in-out 0s forwards;
}

@keyframes line-animations
 {
    from{
        transform:scaleX(0);
        border-bottom:4px solid white;
    }
    to{
        transform:scaleX(1);
        border-bottom:3px solid var(--text-color);
    }
}