#yo_whats_popping_heading{
    font-family : var(--heading-font);
    color:var(--heading-color);
    font-size:12vh;
    display:flex;
    flex-direction:column;
    
    justify-content:flex-end;
    
}
#introduction-main-div{
    margin:3rem 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top:4rem;

}
#head-and-image-area{
    display:flex;
    flex-direction:row;
    justify-content:center;
 
}
#introduction-description-area{
 
    width:90%;
    text-align:center;
    padding:1.3rem;
    margin:1.5rem;
    animation : 1s animate-whats-poppin ease-in-out 1.5s forwards;
    opacity:0;
}
#introduction-description-text{
    font-family: "Silom";
    color:var(--text-color);
    font-size:1.6rem;
}

#yo_word{

    opacity:0;
    animation : 1s animate-yo-word ease-in-out 0.3s forwards;
}
#whats_poppin_word{
    opacity:0;
    animation : 1s animate-whats-poppin ease-in-out 1s forwards;
    
}


@keyframes animate-yo-word{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
 

@keyframes animate-whats-poppin{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

#introduction-profile-photo{
    width:26rem;
    height:26rem;
    margin:0 5rem;
    border-radius:8%;
    opacity:0;
    
    animation : 1s animate-introduction-main-image ease-in-out 1.5s forwards;
}


@keyframes animate-introduction-main-image{
    from{
        opacity:0;
        transform : scale(1.5);
    }to { 
        opacity:1;
        transform : scale(1);
    }
}
 
@media screen and (max-width:1300px) {
    #yo_whats_popping_heading{
        font-size:9vh;
        text-align: center;
        
    }   


 
} 
@media screen and (max-width:1100px){
    #head-and-image-area{
        flex-direction: column-reverse;
        justify-content:center;
        align-items:center;
    }
    #introduction-profile-photo{
        margin:3rem 0;
        
       }
}


@media screen and (max-width:800px) {
    #introduction-description-text{
        font-size:1.3rem;
    }
    
    #yo_whats_popping_heading{
        font-size:2.2rem;
        
    }   
 
} 


@media screen and (max-width:600px) {
    #introduction-description-text{
        font-size:1.1rem;
    }
    #yo_whats_popping_heading{
        font-size:1.6rem;
        
    }   
 
}
@media screen and (max-width:450px){
    #introduction-profile-photo{
        width:20rem;
        height:20rem;
        
    }
}

@media screen and (max-width:350px){
    #introduction-profile-photo{
        width:14rem;
        height:14rem;
        
    }
}